body{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: blueviolet;
}

.main-container{
    width: 75vw;
    display: grid;
    background-color: aqua;
    min-height: 400px;
}

.title-container{
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 5px;
}

.title{
    background-color: bisque;
    height: 100%;
    margin: 0;
}

.title-container div{
    background-color: brown;
    display: flex;
}

.title-container div{
    margin: 5px;
}

.game-container{
    background-color: green;
    height: 250px;
    display: flex;
    direction: row;
}

.lives-draw{
    background-color: palevioletred;
    width: 50%;
    height: 100%;
    display: flex;
}

.lives-draw img{
    margin: auto;
}

.letters{
    background-color: yellow;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.single-letter{
    width: 4rem;
    height: 3.75rem;
    font-weight: bolder;
}

.word-letters{
    background-color: brown;
    height: 100px;
    text-align: center;
    align-content: center;
    font-size: 4rem;

}
